# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# NextAuth Configuration
NEXTAUTH_URL=https://your-app.vercel.app
NEXTAUTH_SECRET=your-super-secret-key-change-this-in-production-must-be-32-chars

# Resend Configuration (pour les emails)
RESEND_API_KEY=your-resend-api-key
RESEND_FROM="NexKeep <noreply@yourdomain.com>"
ADMIN_EMAIL=admin@yourdomain.com
